@keyframes opac { 
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .opac-controller {
    animation:opac 2s infinite;
    animation-timing-function: ease-out;
    animation-play-state: paused;
  }